<% if @applications.status == "Pending" %>
  <p>Applicant Name: <%= @applications.name %></p>
  <p>Application Status: <%= @applications.status %></p>
  <%= button_to "Approve", action: "update", :approval => "approved" %>
  <%= button_to "Reject", action: "update", :approval => "rejected" %>
<% end %>

<% if @applications.status == "Approved" %>
  <p> Application Accepted </p>
<% end %>

<% if @applications.status == "Rejected" %>
  <p> Application Denied </p>
<% end %>